<section class="ordersummary">
		<h3>Order Summary</h3>
		<p class="dishquantity">1</p>
		<div class="body">
				<ul>
					<!-- products added to the cart will be inserted here using JavaScript -->
				</ul>
			</div>
		<h5 class="subtotal">Subtotal $19.99</h5>
		<h5 class="tax">Tax $0.00</h5>
		<h4 class="total">Total $19.99</h4>
  `;
		<p><a class="btn btn-primary" href="#" role="button">Continue</a></p>
    
    <!-- bootstrap stylesheet -->
    <p><a class="btn btn-primary" href="#" role="button">Submit</a></p>

	    <!-- still need to add the + and - buttons and the edit button -->