<section class="ordersummary">
	<h3>ORDER SUMMARY</h3>
	<section id="order-container">
		<!-- products added to the cart will be inserted here -->
	</section>
	<section id="totals">
		<h5 class="subtotal"><label>SUBTOTAL</label> $<span></span></h5>
		<h5 class="tax"><label>TAX</label> $<span></span></h5>
		<h4 class="total"><label>TOTAL</label> $<span></span></h4>
	</section>
		<!-- Continue and Edit bottons toggle the page when they are pressed -->
		<a class="btn btn-primary continue-button" href="#" role="button">Continue</a>
		<a class="btn btn-primary edit-order" href="#" role="button">Edit Order</a>
</section>