<section class="ordersummary">
		<h3>Order Summary</h3>
		<section id="order-container">
			
		<!-- products added to the cart will be inserted here -->

		</section>
		<section id="totals">
			<h5 class="subtotal"><label>Subtotal</label> $<span></span></h5>
			<h5 class="tax"><label>Tax</label> $<span></span></h5>
			<h4 class="total"><label>Total</label> $<span></span></h4>
			<a class="btn btn-primary continue-button" href="#" role="button">Continue</a>
		

			<a class="btn btn-primary edit-order" href="#" role="button">Edit Order</a>

		</section>