
<section class="userdetails"> 

    <h3>DELIVERY DETAILS</h3>

    <form class="userform" action="/" method="POST">
        <input type="text" name="first_name" placeholder="First Name" required>
        <input type="text" name="last_name" placeholder="Last Name" required>

        <input type="text" name="street" placeholder="Street Address" required>
        <input type="text" name="city" placeholder="City" required>
        <input type="text" name="region" placeholder="Province" required>
        <input type="text" name="postal_code" placeholder="Postal Code" required>

        <input type="number" name="phone" placeholder="Phone Number" required>
        <input type="email" name="email" placeholder="Email Address" required>


        <textarea name="text" placeholder="Optional Delivery Instructions"></textarea>

        <select class= "payment_method" name="payment_method" required>
            <option value="creditcard">Credit Card</option>
            <option value="debit">Debit</option>
            <option value="cash">Cash</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Submit Order">

    </form>
</section>
