<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/styles/layout.css">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <form id="call" method="POST" action="/twilio/call">
      <button>call</button>
    </form>
    <form id="message" method="POST" action="/twilio/message">
      <button>message</button>
    </form>
  </body>
</html>
