<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bali Buda</title>

	<link href="/styles/layout.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">

	<script src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
    <section class="ordersummary">
        <h3>Order Confirmation</h3>
    <section id="order-container">

    <!-- products added to the cart will be inserted here -->

    </section>

    <section id="totals">
        <h5 class="subtotal"><label>Subtotal</label> $<span></span></h5>
        <h5 class="tax"><label>Tax</label> $<span></span></h5>
        <h4 class="total"><label>Total</label> $<span></span></h4>
    </section>
    
    <script src="/scripts/app.js"></script>
	<script src="/scripts/userform.js"></script>
	<script src="/scripts/twillo.js"></script>
</body>
</html>